<div class="container">   
  <div [hidden]="alert.message === ''" [class]="alert.class" role="alert">
    {{alert.message}}
  </div>
  <form [formGroup]="createChecklistForm" (ngSubmit)="onSubmit()">
    <label>
      Checklist Role:
      <select formControlName="role">
        <option *ngFor="let r of roles" [value]="r.val">{{r.name}}</option>
      </select>
    </label>
    <br/>
    <button type="button" class="btn btn-info" data-toggle="tooltip" data-placement="top" title="Add one more row to the checklist" (click)="createItemControl()">Add Item</button>
    <div id="box" formArrayName="items" *ngFor="let item of createChecklistForm.get('items').controls; let i = index;">
        <div class="form-row">
          <div class="col col-md-5">
            <input class="form-control form-control-lg rounded" [formControlName]="i" placeholder="Item name" required>
          </div>
          <div class="col col-md-2">
            <button *ngIf="i != 0" type="button" class="btn btn-danger" (click)="removeItem(i)">X</button>
          </div>            
        </div>
    </div>
    <button class="btn btn-success" type="submit" [disabled]="!createChecklistForm.valid">Submit</button>
  </form>
</div>