<div class="container">   
  <form [formGroup]="createChecklistForm" (ngSubmit)="onSubmit()">
    <label>
      Checklist Name:
      <input type="text" formControlName="title"/>
    </label>
    <button type="button" class="btn btn-info" data-toggle="tooltip" data-placement="top" title="Add one more row to the checklist" (click)="createItemControl()">Add Item</button>
    <div id="box" formArrayName="items" *ngFor="let item of createChecklistForm.get('items').controls; let i = index;">
        <div class="form-row">
          <div class="col col-md-5">
            <input class="form-control form-control-lg rounded" [formControlName]="i" placeholder="Item name" required>
          </div>
          <div class="col col-md-2">
            <button *ngIf="i != 0" type="button" class="btn btn-danger" (click)="removeItem(i)">X</button>
          </div>            
        </div>
    </div>
    <h4>Please select who you wish to be able to check off this checklist</h4>
    <label class="roles" formArrayName="roles" *ngFor="let role of createChecklistForm.get('roles').controls; let i = index">
        <input type="checkbox" [formControlName]="i">
        {{roles[i].name}}
    </label>
    <br/>
    <button class="btn btn-success" type="submit" [disabled]="!createChecklistForm.valid">Submit</button>
  </form>
</div>