#form{
    padding: 30px;
    width: 70%;
    display: inline-block;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.container{
    text-align: center;
    padding: 20px;
    padding-bottom: 40px;
}
.input-group{
    padding-right: 0px;
    padding-left: 20px;
}
.subForm{
    padding-top: 20px;
    padding-bottom: 5px;
    padding-right: 0px;
}
h2.title{
    text-align: center;
}